/*css document index */
td {
  font-family: "verdana";
  font-size: 15px;
  color: white;
  padding-left: 30px;
  padding-right: px;
  
  
}
ul {
font-family: "verdana";
font-size: 15px;
color: white;
}
